html, div, map, dt, isindex, form, header, nav, article, footer, address, md-button {
    display: block;
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: local('Roboto'), url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2') format('woff2');
}

body {
    background-color: #5c6bc0;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: block;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 400px;
}

.panel {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.controls {
    background-color: #636363;
    color: #d5d5d5;
    display: flex;
    flex-direction: column;
}

.controls .md-button {
    align-items: center;
    border-radius: 0;
    flex: 0 0 66.6px;
    font-size: 16px;
    justify-content: center;
    margin: 0;
}

.input {
    align-items: center;
    background-color: #434343;
    color: #fdfdfd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
}

.input .md-button {
    flex: 0 0 33%;
    font-size: 24px;
    height: 100px;
    margin: 0;
}

.disp {
    background-color: #fafafa;
    border: 0;
    color: #737373;
    font-size: 36px;
    height: 32px;
    padding: 20px 25px;
    text-align: right;
    transition: all .3s;
    width: 350px;
}

.result {
    background-color: #fafafa;
    color: #8e8e8e;
    font-size: 32px;
    height: 40px;
    padding: 10px 25px;
    position: relative;
    text-align: right;
    top: 0;
    transition: all .3s;
}

.adv {
    align-items: center;
    background-color: #4285f4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-around;
    position: absolute;
    right: -280px;
    transition: .5s cubic-bezier(.35, 0, .25, 1);
    width: 300px;
}

.adv .md-button {
    color: #fafafa;
    flex: 0 0 33%;
    font-size: 20px;
    font-weight: 400;
    height: 100px;
    margin: 0;
    text-transform: none;
}

.adv:hover {
    right: 0;
    transition: .5s cubic-bezier(.35, 0, .25, 1);
}

md-divider {
    border-top-color: #fafafa;
}

.circle {
    -webkit-animation: ripple 1s;
    -webkit-backface-visibility: hidden;
    animation: ripple 1s;
    background-color: #8c9eff;
    border-radius: 50%;
    height: 50px;
    opacity: 0;
    position: absolute;
    right: 32px;
    transition: all .3s ease-out;
    width: 50px;
    will-change: opacity;
}

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(0);
        opacity: 1;
        transform: scale(0);
    }

    80% {
        -webkit-transform: scale(18);
        opacity: 1;
        transform: scale(18);
    }

    100% {
        -webkit-transform: scale(18);
        opacity: 0;
        transform: scale(18);
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(0);
        opacity: 1;
        transform: scale(0);
    }

    80% {
        -webkit-transform: scale(18);
        opacity: 1;
        transform: scale(18);
    }

    100% {
        -webkit-transform: scale(18);
        opacity: 0;
        transform: scale(18);
    }
}
