<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Common declarations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- If No JavaScript -->
    <noscript>
      <meta http-equiv="refresh" content="0; url=no-javascript" />
    </noscript>

    <!-- SEO -->
    <title>ROS Calculator</title>
    <meta name="description" content="This is a Material Design calculator in your browser.">
    <meta name="keywords" content="Calculator, Material Calculator, Online Calculator, HTML, CSS, JS">
    <meta name="author" content="Richie Bendall">

    <!-- Import Font -->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:400,500" as="style" onload='this.onload=null,this.rel="stylesheet"'>

    <!-- Set theme colour -->
    <meta name="theme-color" content="#3f51b5">

    <!-- Set favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Define web app manifests -->
    <link rel="manifest" href="manifests/site.webmanifest">
    <meta name="msapplication-config" content="manifests/browserconfig.xml">

    <!-- Import CSS Resources -->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.css" as="style" onload='this.onload=null,this.rel="stylesheet"'>
    <link rel="preload" href="css/style.css" as="style" onload='this.onload=null,this.rel="stylesheet"'>

    <!-- Run critical JavaScript -->
    <script>
        // Print out a message in the console
        console.log("ROS Calculator is open source on GitHub for you to check out: https://github.com/Richienb/ROS-Calculator");

        // Check that service workers are registered
        if ("serviceWorker" in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener("load", () => {
                navigator.serviceWorker.register("/service-worker.js");
            });
        }

        // Enable passive scrolling mode if supported
        if ("ontouchstart" in document.documentElement) {
            document.addEventListener("touchstart", onTouchStart, {
                passive: true
            });
        }
    </script>
</head>

<body ng-app="CalcApp" ng-cloak layout="column" layout-align="center center" ng-controller="calcCtrl" onresize="handleResize()">
    <md-card class="md-whiteframe-z4 main">
        <input class="disp" id="inp" ng-model="expr" type="text" ng-keyup="$scope.getRes();">
        </input>
        <md-divider></md-divider>
        <div class="result">{{result}}</div>
        <div ng-if="aclick" ng-init="aclick=false" class="circle">
        </div>
        <div class="panel">
            <div class="input">
                <md-button class="md-icon-button seven" ng-click="expr = expr + 7">7</md-button>
                <md-button class="md-icon-button eight" ng-click="expr = expr + 8">8</md-button>
                <md-button class="md-icon-button nine" ng-click="expr = expr + 9">9</md-button>
                <md-button class="md-icon-button four" ng-click="expr = expr + 4">4</md-button>
                <md-button class="md-icon-button five" ng-click="expr = expr + 5">5</md-button>
                <md-button class="md-icon-button six" ng-click="expr = expr + 6">6</md-button>
                <md-button class="md-icon-button one" ng-click="expr = expr + 1">1</md-button>
                <md-button class="md-icon-button two" ng-click="expr = expr + 2">2</md-button>
                <md-button class="md-icon-button three" ng-click="expr = expr + 3">3</md-button>
                <md-button class="md-icon-button dot" ng-click="expr = expr + '.'">.</md-button>
                <md-button class="md-icon-button zero" ng-click="expr = expr + 0">0</md-button>
                <md-button class="md-icon-button equal" ng-click="getRes()">=</md-button>

            </div>
            <div class="controls">
                <md-button ng-click=" aclick=!aclick; ac();">AC</md-button>
                <md-button ng-click="clear()">CE</md-button>
                <md-button ng-click="expr = expr + ' / '">/</md-button>
                <md-button ng-click="expr = expr + ' * '">X</md-button>
                <md-button ng-click="expr = expr + ' - '">-</md-button>
                <md-button ng-click="expr = expr + ' + '">+</md-button>
            </div>
            <div class="adv" md-whiteframe="z1">
                <md-button class="md-icon-button" ng-click="expr = expr + 'sin('">sin</md-button>
                <md-button class="md-icon-button" ng-click="expr = expr + 'cos('">cos</md-button>
                <md-button class="md-icon-button" ng-click="expr = expr + 'tan('">tan</md-button>
                <md-button class="md-icon-button" ng-click="expr = expr + 'log('">ln</md-button>
                <md-button class="md-icon-button" ng-click="expr = expr + 'log10('">log</md-button>
                <md-button class="md-icon-button" ng-click="expr = expr + '!'">!</md-button>
                <md-button class="md-icon-button" ng-click="expr = expr + 'PI'">π</md-button>
                <md-button class="md-icon-button" ng-click="expr = expr + 'e'">e</md-button>
                <md-button class="md-icon-button three" ng-click="expr = expr + '^'">^</md-button>
                <md-button class="md-icon-button dot" ng-click="expr = expr + '('">(</md-button>
                <md-button class="md-icon-button zero" ng-click="expr = expr + ')'">)</md-button>
                <md-button class="md-icon-button equal" ng-click="expr = expr + 'sqrt('">√</md-button>
            </div>
        </div>
    </md-card>
</body>

<footer>
    <!-- Import JavaScript Resources -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.10/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.1.2/math.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <script src="js/index.js"></script>
</footer>

</html>
